<configuration>
    <system.web>
        <httpRuntime targetFramework="4.8" maxRequestLength="1048576" executionTimeout="600" />
        <customErrors mode="Off" />
    </system.web>

    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
