<div class="col-md-2">
    <label for="ddlCra" class="form-label">CRA</label>
    <asp:DropDownList ID="ddlCra" runat="server" CssClass="form-select" AutoPostBack="True" OnSelectedIndexChanged="cboKRA_SelectedIndexChanged_SelectedIndexChanged">
        <asp:ListItem Text="NSDL" Value="0" Selected="True" />
        <asp:ListItem Text="Karvy" Value="1" />
    </asp:DropDownList>
</div>

<div class="col-md-3">
    <label for="ddlCraBranch" class="form-label">CRA Branch</label>
    <asp:DropDownList ID="ddlCraBranch" runat="server" CssClass="form-select">
        <asp:ListItem Text="NEHRU PLACE" Value="10010041" />
    </asp:DropDownList>
</div>

<div class="col-md-3">
    <label for="txtPopSpRegNo" class="form-label">POP-SP Registration Number</label>
    <asp:TextBox ID="txtPopSpRegNo" runat="server" CssClass="form-control" oninput="validateMobileNumber(this, 20)"></asp:TextBox>
</div>

<script type="text/javascript">
    function updateRegFolioNo() {
        var ddlCra = document.getElementById('<%= ddlCra.ClientID %>');
        var hfFolioNo = document.getElementById('<%= txtPopSpRegNo.ClientID %>');

        // Check the selected value and set folio number
        if (ddlCra.value === "0") {
            hfFolioNo.value = '6036914';
        } else if (ddlCra.value === "1") {
            hfFolioNo.value = '1171966';
        }
    }



    // Call toggleFields on page load to set the initial state
    document.addEventListener("DOMContentLoaded", updateRegFolioNo);
</script>